@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:hover {
  scale: 120%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: transparent;
  display: flex;
  height: 60px;
  background: rgba(38, 139, 1, 1);
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: rgba(38, 139, 1, 1);
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.policy-terms-header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 16px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: start;

  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 507px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 0px 32px;

  border-radius: 0px 0px 20px 20px;
  gap: 28px;
  background: rgba(233, 255, 146, 1);
  border-bottom: 2px solid rgba(50, 62, 112, 1);
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: Ubuntu;
  font-size: 18px;
  font-weight: 700;
  line-height: 20.68px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  text-decoration: none;
  color: rgba(9, 32, 5, 1);
}

.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }

  .header {
    width: 100%;

    height: 60px;
    padding: 10px 20px 10px 210px;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
  }
  .header__background {
    border: none;
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    border: none;
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 100px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: 700;
    line-height: 20.68px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(233, 255, 146, 1);
    text-decoration: none;
  }

  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 760px;

  padding: 60px 20px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Home.png");
  margin: auto;
}

.home__container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-title-img {
  width: 375px;
  height: 120.9px;
}
.home-title {
  font-family: Ubuntu;
  font-size: 22px;
  font-weight: 700;
  line-height: 25.28px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  text-transform: uppercase;

  color: rgba(255, 255, 255, 1);
}

.home-text {
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.09px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: rgba(255, 255, 255, 1);
  padding: 18px 0 0;
}
.home__google-button_image {
  margin-top: 25px;
}
@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 799px;

    padding: 129px 691px 0px 46px;
    background-image: url("/img/home/Home\ \(1\).png");
  }
  .home__container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .home-title-img {
    width: 618px;
    height: 201px;
  }
  .home-title {
    font-family: Ubuntu;
    font-size: 32px;
    font-weight: 700;
    line-height: 36.77px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    width: 618px;
  }

  .home-text {
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: 500;
    line-height: 20.68px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    width: 618px;
    padding: 22px 0 0;
  }
}
.about {
  padding: 28px 20px 0px;
  margin: auto;
  width: 375px;
  height: 1106px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/about/About\ us.png");
}

.about-title {
  font-family: Ubuntu;
  font-size: 34px;
  font-weight: 700;
  line-height: 39.07px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
  color: rgba(9, 32, 5, 1);
}
.about-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 40px;
}
.about-text {
  font-family: Ubuntu;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.38px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 335px;
  padding: 22px;
  border-radius: 36px;
  background: rgba(255, 255, 255, 1);
}
.about-tetx-bold {
  font-family: Ubuntu;
  font-size: 20px;
  font-weight: 700;
  line-height: 22.98px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .about {
    padding: 28px 31px 0;
    margin: auto;
    width: 1440px;
    height: 599px;
    background-image: url("/img/about/About\ us\ \(1\).png");
  }

  .about-title {
    font-family: Ubuntu;
    font-size: 34px;
    font-weight: 700;
    line-height: 39.07px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .about-list {
    display: flex;
    flex-direction: column;

    gap: 16px;
    padding-top: 62px;
  }
  .about-text {
    width: 833px;
    padding: 22px;
  }
}
.reviews {
  width: 375px;

  margin: auto;
  padding: 32px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/img/reviews/User\ Reviews.png");
}

.reviews-list {
  width: auto;
  padding-top: 40px;
  padding-bottom: 30px;
  margin: auto;
}
.reviews-item {
  margin: 0 5px;
  width: 335px;
}
.reviews-img {
  margin: auto;
}
.reviews-item-texts {
  width: 335px;
  height: 225px;
  margin-top: 16px;
  padding: 16px 36px 16px 36px;

  border-radius: 26px;

  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 20px 0px rgba(255, 255, 255, 1);
}
.reviews-text-bold {
  font-family: Ubuntu;
  font-size: 20px;
  font-weight: 700;
  line-height: 22.98px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding: 0px 0 2px;
}
.reviews-text {
  font-family: Ubuntu;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.gallery-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.gallery-button {
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
}

.gallery-button:hover {
  scale: 120%;
}

@media screen and (min-width: 1200px) {
  .reviews {
    width: 1440px;

    margin: auto;
    padding: 38px 60px 91px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-image: url("/img/reviews/User\ Reviews\ \(1\).png");
  }

  .reviews-list {
    width: auto;
    padding-top: 64px;
    padding-bottom: 40px;
    margin: auto;
  }
  .reviews-item {
    margin: 0 5px;
    width: 564px;
  }
  .reviews-img {
    margin: auto;
  }
  .reviews-item-texts {
    width: 540px;
    height: 225px;
    margin-top: 18px;
    padding: 36px 36px;

    border-radius: 26px;

    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 20px 0px rgba(255, 255, 255, 1);
  }
  .reviews-text-bold {
    padding: 0px 0 6px;
  }
}

.gallery {
  width: 375px;
  background: rgba(233, 255, 146, 1);

  margin: auto;
  padding: 32px 0px;
}

.gallery__list {
  width: auto;
  padding-top: 40px;
  padding-bottom: 28px;

  margin: auto;
}
.gallery__item {
  width: 320px;
  height: 460px;

  overflow: hidden;
  position: relative;
  margin: 0 4px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 1200px) {
  .gallery {
    width: 1440px;

    margin: auto;
    padding: 32px 0;
  }

  .gallery__item {
    width: 370px;
    height: 532px;
    margin: 0 10px;
    overflow: hidden;
    position: relative;
  }
}
.features {
  width: 375px;
  height: 1120px;

  margin: auto;
  padding: 28px 20px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/features/Advantages.png");
}

.features-list {
  padding-top: 28px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.features-item {
  width: 335px;
}
.features-img {
  margin: auto;
}
.features-text-bold {
  font-family: Ubuntu;
  font-size: 20px;
  font-weight: 700;
  line-height: 22.98px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding: 16px 0 8px;
}
.features-text {
  font-family: Ubuntu;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.38px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@media screen and (min-width: 1200px) {
  .features {
    width: 1440px;
    height: 798px;

    padding: 28px 240px 0px;

    background-image: url("/img/features/Advantages\ \(1\).png");
  }

  .features-list {
    padding-top: 60px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 28px;
    column-gap: 80px;
    justify-content: center;
  }
  .features-item {
    width: 423px;
  }
}
.benefits {
  width: 375px;
  margin: auto;
  padding: 28px 0px;
  background: linear-gradient(0deg, #39720b, #39720b);
}

.benefits-list {
  padding-top: 40px;
  margin: auto;
  padding-bottom: 32px;
}
.benefits-item {
  width: 335px;
  height: 364.7px;
  padding: 18px;
  border-radius: 22px;
  background: rgba(255, 255, 255, 1);
  margin: 0 5px;
}
.benefits-img {
  margin: auto;
}
.benefits-text-bold {
  font-family: Ubuntu;
  font-size: 18px;
  font-weight: 700;
  line-height: 20.68px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding: 18px 0 10px;
}
.benefits-text {
  font-family: Ubuntu;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
@media screen and (min-width: 1200px) {
  .benefits {
    width: 1440px;
    margin: auto;
    padding: 28px 80px;
    background: linear-gradient(0deg, #39720b, #39720b);
  }

  .benefits-list {
    padding-top: 64px;
    margin: auto;
    padding-bottom: 32px;
  }
  .benefits-item {
    width: 540px;
    height: 187px;
    display: flex;
    gap: 18px;
    margin: 0 10px;
  }
  .benefits-img {
    margin: 0;
  }
  .benefits-text-bold {
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: 700;
    line-height: 20.68px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding: 0px 0 10px;
  }
  .benefits-text {
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
.footer {
  background: rgba(57, 114, 11, 1);

  color: #ffffff;
  padding: 14px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.footer-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  gap: 4px;
}
.footer-text {
  font-family: Ubuntu;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.38px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.footer-copyright {
  font-family: Ubuntu;
  font-size: 10px;
  font-weight: 500;
  line-height: 11.49px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 30px 0px;
  }
  .footer-container {
    gap: 20px;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;

    gap: 6px;
  }
  .footer-text {
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: 500;
    line-height: 20.68px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .footer-copyright {
    font-family: Ubuntu;
    font-size: 10px;
    font-weight: 500;
    line-height: 11.49px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
.policy-terms-container {
  padding: 124px 16px 116px;
  color: rgba(0, 0, 0, 1);
}
.policy-terms-title {
  font-family: Ubuntu;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.policy-terms-text {
  font-family: Ubuntu;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 20px;
}
.policy-terms-texts {
  font-family: Ubuntu;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 8px;
}
.policy-terms-text-one {
  font-family: Ubuntu;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 20px;
}

.terms-list {
  list-style-type: disc;

  padding: 20px 0 20px 25px;
  font-family: Ubuntu;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  display: flex;
  flex-direction: column;
}

.terms-lists {
  list-style-type: disc;

  padding-left: 25px;
  font-family: Ubuntu;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: #000;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 186px 80px 116px;
  }
}
.cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 335px;
  border-radius: 20px;
  padding: 30px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(24, 179, 0, 1);
  box-shadow: 0px 14px 42px 0px rgba(8, 15, 52, 0.06);

  text-align: center;
  z-index: 1000;

  display: none;
}

.cookie-popup-text-two {
  font-family: Ubuntu;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(87, 78, 68, 1);
}
.cookie-button-container {
  padding: 30px 0 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.cookie-button {
  border: none;
  font-family: Ubuntu;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(87, 78, 68, 1);
  border: none;
  background-color: transparent;
}
#accept-cookies {
  width: 167px;

  padding: 18px 26px 18px 26px;
  color: rgba(255, 255, 255, 1);
  border-radius: 56px;
  opacity: 0px;
  background: rgba(24, 179, 0, 1);
  box-shadow: 0px 3px 12px 0px rgba(74, 58, 255, 0.18);
}
.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .cookie-popup-text-two {
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    width: 648px;
  }
  .cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
  }
  .cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1272px;

    padding: 52px;
    display: none;
  }

  .cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
